<div class="row">
  <div class="col-6">
    <jhi-tree [data]="data" [plugins]="['contextmenu', 'dnd', 'types','wholerow']">
    </jhi-tree>
  </div>
  <div class="col-6">
    <div class="">
      User list component
      <jhi-tree [data]="data" [plugins]="['contextmenu', 'dnd', 'types','wholerow']">
      </jhi-tree>
    </div>
    <div class="">
      Device list component
      <jhi-tree [data]="data" [plugins]="['contextmenu', 'dnd', 'types','wholerow']">
      </jhi-tree>
    </div>
  </div>
</div>
